<div class="termswrapper">
    <div class="container-fluid">
        <div class="col-md-12">

            <div class="card">
                <h4 class="card-header card-title" translate>Terms and Conditions</h4>
                    <div class="card-content">
                        <div class="row">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This Site reserves the right to charge subscription or membership fees in respect of any part , aspect of this Site upon reasonable prior notice. 
                        Copyright and Trademarks 
                        Unless otherwise stated, copyright and all intellectual property rights in all material presented on the site (including but not limited to text, audio, video or graphical images), trademarks and logos appearing on this site are the property of Malayala Manorama company ltd, its parent, affiliates and associates and are protected under applicable Indian laws. Any infringement shall be vigorously defended and pursued to the fullest extent permitted by law.
                        <br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This Site reserves the right to charge subscription or membership fees in respect of any part , aspect of this Site upon reasonable prior notice. 
                        Copyright and Trademarks 
                        Unless otherwise stated, copyright and all intellectual property rights in all material presented on the site (including but not limited to text, audio, video or graphical images), trademarks and logos appearing on this site are the property of Malayala Manorama company ltd, its parent, affiliates and associates and are protected under applicable Indian laws. Any infringement shall be vigorously defended and pursued to the fullest extent permitted by law.<br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This Site reserves the right to charge subscription or membership fees in respect of any part , aspect of this Site upon reasonable prior notice. 
                        Copyright and Trademarks 
                        Unless otherwise stated, copyright and all intellectual property rights in all material presented on the site (including but not limited to text, audio, video or graphical images), trademarks and logos appearing on this site are the property of Malayala Manorama company ltd, its parent, affiliates and associates and are protected under applicable Indian laws. Any infringement shall be vigorously defended and pursued to the fullest extent permitted by law.
                    </div>
                

                <br />
                
            </div>
        </div>
    </div>
  </div>
</div>