<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">date_range</i>
                        </div>
                        <div class="card-header">
                            <h4 class="card-title" translate>SUPPORT.TITLE</h4>
                        </div>
                        <div class="card-content">

                                <label class="car-description" style="margin:15px;">
                                    <p translate>SUPPORT.MAIN_DESC</p>
                                </label>
                            <div class="row">
                                <div class="info-horizontal" style="margin:15px 30px;">
                                    <div class="icon-pricing icon icon-rose">
                                        <i class="email_icon"></i>
                                    </div>
                                    <div class="card-description">
                                        <label style="margin: 10px;">{{'SUPPORT.BY_EMAIL' | translate}} ({{supportData.email}})</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="info-horizontal" style="margin:15px 30px;">
                                    <div class="icon-pricing icon icon-rose">
                                        <i class="material-icons">call</i>
                                    </div>
                                    <div class="card-description">
                                        <label style="margin: 15px;">{{'SUPPORT.BY_PHONE' | translate}} ({{supportData.phone}})</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="info-horizontal" style="margin:15px 30px;">
                                    <div class="icon-pricing icon icon-rose">
                                        <i class="whatsapp_icon"></i>
                                    </div>
                                    <div class="card-description">
                                        <label style="margin: 15px;">Whatsapp ({{supportData.whatsapp_no}})</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="info-horizontal" style="margin:15px 30px;">
                                    <div class="icon-pricing icon icon-rose">
                                        <i class="fa fa-facebook"></i>
                                    </div>
                                    <div class="card-description">
                                        <label style="margin: 15px;">Facebook ({{supportData.facebook}})</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 no-mobile">
                    <div class="card">
                        <div class="card-header card-header-icon" data-background-color="rose">
                            <i class="material-icons">priority_high</i>
                        </div>
                        <div class="card-header">
                            <h4 class="card-title card-description" translate>SUPPORT.ABOUT</h4>
                        </div>
                        <div class="card-content">                            
                            <h4 class="card-description" translate>SUPPORT.DESCRIPTION</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    