<div class="card card-signup">
    <div class="col-md-6 col-md-offset-3">
        <div class="card-header text-center" data-background-color="rose" style="margin-bottom: 60px">
            <h4 class="card-title text-center" translate>EMPLOYEE.PROFILE</h4>
        </div>
    </div>
    <form class="form" method="" action="">
        <div class="row">
            <div class="card-content" style="padding-top:40px">
                <div class="col-md-6">
                    <div class="input-group" style="display:block">
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="data.employee.name" name="name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group" style="display:block">
                        <input type="text" class="form-control" placeholder="Phone number" [(ngModel)]="data.employee.phone" name="phone">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group" style="display:block">
                        <mat-form-field>
                            <mat-select placeholder="Choose Rank" name="type" [(ngModel)]="data.employee.type_id">
                                <mat-option *ngFor="let type of data.types;" [value]="type.id">
                                    {{ type.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group" style="display:block">
                        <div class="dropdown">
                            <button class="dropdown-toggle btn btn-simple" data-toggle="dropdown" *ngIf="data.employee.color==undefined || data.employee.color==null" style="width: 200px;">
                                Select Color
                            </button>
                            <button class="dropdown-toggle btn btn-simple" data-toggle="dropdown" *ngIf="data.employee.color!=undefined && data.employee.color!=null" [style.backgroundColor]="data.employee.color"
                                style="width: 200px;">
                                &nbsp;
                            </button>
                            <ul class="dropdown-menu dropdown-menu-left" style="width: 100%">
                                <li class="dropdown-header"></li>
                                <li>
                                    <div class="col-md-3" style="padding:0" *ngFor="let color of data.colors">
                                        <a>
                                            <div class="round-rectangle" [style.backgroundColor]="color.hex" (click)="data.employee.color = color.hex">
                                                <span>&nbsp;</span>
                                            </div>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group" style="display:block; padding-top: 10px;">
                        <input type="text" class="form-control" placeholder="Set unlock code" [(ngModel)]="data.employee.unlock_code" name="unlock_code" maxlength="4">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer" style="padding-top:40px">
            <div class="text-left">
                <div class="card-header card-header-icon" data-background-color="rose">
                    <i class="material-icons">priority_high</i>
                </div>
                <h4 class="card-description">EMPLOYEE.ABOUT</h4>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h5 class="card-description" translate>EMPLOYEE.DESCRIPTION</h5>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-rose" (click)="save()" translate>EMPLOYEE.SAVE</button>
            </div>
        </div>
    </form>

</div>