.termsconditionsmodal{
	.modal-content{
		.modal-header{
			.title{
		font-weight: bold;
		font-size: 24px;
		color: #d81b60;
			}
		}
		.modal-body{
			.content{
				padding-bottom: 20px;
				padding-right: 20px;
				padding-left: 20px;
			}
		}
	}
}